<h1>Books</h1>
<%= link_to "Add New Book", new_book_path %>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %> 
      <br>
      <strong>Average Rating:</strong>
      <%= number_with_precision(book.average_rating, precision: 1) %>
      <%= link_to "Edit", edit_book_path(book) %> |
      <%= link_to "Delete", book_path(book), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
