<h1>Add New Book</h1>

<%= form_with(model: @book, local: true, multipart: true) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div>
    <%= form.label :cover_image, "Cover Image" %>
    <%= form.file_field :cover_image %>
  </div>

  <%= form.submit "Create Book" %>
<% end %>

<%= link_to "Back to Books", books_path %>
